################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/WebService/.vs/WebService/v16/Server/sqlite3
/.vs
/WebService/obj/Debug/netcoreapp3.1
/WebService/obj/Release/netcoreapp3.1
